p{
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
.contenedor{
    padding-left: 30%;
}

li{
    font-size: medium;
    font-family: cursive;
    color: darkgreen;
}

.caja{
    background-color: rgb(144, 160, 86);
    border: 2px solid rgb(140, 122, 158);
    align-items: center;
    font-size: x-large;
    width: 400px;
    position: absolute;
    right: 500px;  
    top: 500px;
}
button{
    align-items: center;
}