
<h1>Sustantivos</h1>
<p>Definición
    El sustantivo es la palabra que usamos para nombrar a los objetos, a las personas, a los países, etc. Igual que los artículos, tienen género (femenino o masculino), y número (singular o plural). Estas características deben coincidir siempre con las del artículo.</p>

    <hr>
    <div class="detalle"><span>Angular: - botonoes con iconos - Animación </span></div>
<h1>Los sustantivos pueden clasificarse en:</h1>

        <button mat-raised-button color="primary" (click)="toggle()" style="margin-left: 40%;" title="Click para ver la clasificación">
                            
            <mat-icon>assistant</mat-icon> 
        </button>


        <div class="caja"   [@aparecer]="stateName">
            <ul><li *ngFor="let uno of tipoSust" >
                {{uno}}  </li>
        </ul>
        </div>

