/* You can add global styles to this file, and also import other style files */
body{
    background-color: cornsilk;
    
}
h1 {
        text-align: center;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    color:mediumorchid;

}
h3 {
    text-align: center;
    color:mediumorchid;


}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.detalle{
    background-color: darkseagreen;
    border: darkslategray;
    box-sizing: border-box;
    text-align: center;
}